

@model ProjTest.Models.Person
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head >
    <title>Изменение записи</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/site.css")" />
    
    <script src="~/lib/jquery/dist/jquery.js"></script>
    
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    
    <script src="@Url.Content("~/js/site.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var change = new AddRemove(@ViewBag.numberOfElements[0]-1, @ViewBag.numberOfElements[1]-1,@ViewBag.numberOfElements[2]-1, @ViewBag.numberOfElements[3]-1);        
    </script>
   

</head>

<body>
    <div>
        <h3>Форма изменения записи</h3>
        <p>Для изменения записи заполните поля:</p>
        <form method="post" >

            <table>
                <tr>
                    <td><input type="hidden" name="Id" asp-for="Id" readonly/></td>
                </tr>
                <tr>
                    <td>Фамилия</td>
                    <td><input type="text" asp-for="Surname" name="Surname" value="@Model.Surname" /><span asp-validation-for="Surname" ></span></td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td><input type="text" name="Name" asp-for="Name" value="@Model.Name" /><span asp-validation-for="Name" ></span></td>
                </tr>
                <tr>
                    <td>Отчество</td>
                    <td><input type="text" name="PatrName" value="@Model.PatrName" asp-for="PatrName" /><span asp-validation-for="PatrName" ></span></td>
                </tr>
                <tr>
                    <td>Дата рождения</td>
                    <td><input type="text"  name="BirthDay" value="@Model.BirthDay" asp-for="BirthDay" /><span asp-validation-for="BirthDay"></span></td>
                </tr>
                <tr>
                    <td>Организация</td>
                    <td><input type="text" name="Organization" value="@Model.Organization" asp-for="Organization" /><span asp-validation-for="Organization" ></span></td>
                </tr>
                <tr>
                    <td>Должность</td>
                    <td><input type="text" name="Position" value="@Model.Position" asp-for="Position" /><span asp-validation-for="Position" ></span></td>
                </tr>
                <tr><td>Телефон</td></tr>
                <tr id="Phone">

                    @if (Model.Phone != null)
                    {
                        @for (int i = 0; i < @ViewBag.numberOfElements[0]; i++)
                        {
                            <td id="phone @i"><input type="text" name="Phone[@i].PhoneNumber" value="@Model.Phone[i].PhoneNumber" asp-for="Phone" /></td>
                        }
                    }
                    else
                    {
                        <td id="phone 0"><input type="text" name="Phone[0].PhoneNumber"  value="" asp-for="Phone" /></td>
                    }

                </tr>
                <tr><td><span asp-validation-for="Phone" ></span></td></tr>
                <tr>
                    <td><input type="button" onclick="change.dynamicElement('Phone')" value="+" /><input type="button" onClick="change.remove('Phone')" value="-"></td>
                </tr>
                <tr><td>Email</td></tr>
                <tr id="Email">

                    @if (Model.Email != null)
                    {
                        @for (int i = 0; i < @ViewBag.numberOfElements[1]; i++)
                        {
                            <td id="email @i"><input type="text" name="Email[@i].EmailAddres" value="@Model.Email[i].EmailAddres" asp-for="Email" /></td>
                        }
                    }
                    else
                    {
                        <td id="email 0"><input type="text" name="Email[0].EmailAddres" value="" asp-for="Email" /></td>
                    }

                </tr>
                <tr><td><span asp-validation-for="Email" ></span></td></tr>
                <tr>
                    <td><input type="button" onclick="change.dynamicElement('Email')" value="+" /><input type="button" onClick="change.remove('Email')" value="-"></td>
                </tr>
                <tr><td>Skype</td></tr>
                <tr id="Skype">

                    @if (Model.Skype != null)
                    {
                        @for (int i = 0; i < @ViewBag.numberOfElements[2]; i++)
                        {
                            <td id="skype @i"><input type="text" name="Skype[@i].SkypeLogin" value="@Model.Skype[i].SkypeLogin" asp-for="Skype" /></td>
                        }
                    }
                    else
                    {
                        <td id="skype 0"><input type="text" name="Skype[0].SkypeLogin" value="" asp-for="Skype" /></td>
                    }

                </tr>
                <tr><td><span asp-validation-for="Skype" ></span></td></tr>
                <tr>
                    <td><input type="button" onclick="change.dynamicElement('Skype')" value="+" /><input type="button" onClick="change.remove('Skype')" value="-"></td>
                </tr>
                <tr><td>Дополнительная информация</td></tr>
                <tr id="Addinf">

                    @if (Model.Addinf != null)
                    {
                        @for (int i = 0; i < @ViewBag.numberOfElements[3]; i++)
                        {
                            <td id="addinf @i"><input type="text" name="Addinf[@i].AdditionalInfo" value="@Model.Addinf[i].AdditionalInfo" asp-for="Addinf" /></td>
                        }
                    }
                    else
                    {
                        <td id="addinf 0"><input type="text" name="Addinf[0].AdditionalInfo" value="" asp-for="Addinf" /></td>
                    }

                </tr>
                <tr><td><span asp-validation-for="Addinf" ></span></td></tr>
                <tr>
                    <td><input type="button" onclick="change.dynamicElement('Addinf')" value="+" /><input type="button" onClick="change.remove('Addinf')" value="-"></td>
                </tr>
                <tr><td><input type="submit" value="Сохранить" /></td><td></td></tr>
            </table>
        </form>
        <form action="~/Home/Index">
            <input type="submit" value="Назад" />
        </form>

    </div>

</body>

</html>
