@*@model IEnumerable<ProjTest.Models.Person>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Результаты поиска</title>
</head>
<body>
    <h3>Поиск</h3>
    <form action="~/Home/Find">
        <input type="text" name="find" />
        <input type="submit" href="~/Home/Find" value="Поиск" />
    </form>
    <br />
    <h3>Контакты</h3>
    <table>
        <tr>
            
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Дата рождения</td>
            <td>Организация</td>
            <td>Должность</td>
            <td>Телефон</td>
            <td>Email</td>
            <td>Skype</td>
            <td>Дополнительная информация</td>
        </tr>
        @foreach (var person in Model)
        {
    <tr>
        
        <td>@person.Surname</td>
        <td>@person.Name</td>
        <td>@person.PatrName</td>
        <td>@person.BirthDay.ToString("d")</td>
        <td>@person.Organization</td>
        <td>@person.Position</td>
        <td>
            @if (person.Phone != null)
            {
                @for (int i = 0; i < person.Phone.Count; i++)
                {
                    <p>@person.Phone[@i].PhoneNumber</p>
                }
            }
            else
            {
                <p></p>
            }

        </td>
        <td>
            @if (person.Email != null)
            {
                @for (int i = 0; i < person.Email.Count; i++)
                {
                    <p>@person.Email[@i].EmailAddres</p>
                }
            }
            else
            {
                <p></p>
            }

        </td>
        <td>
            @if (person.Skype != null)
            {
                @for (int i = 0; i < person.Skype.Count; i++)
                {
                    <p>@person.Skype[@i].SkypeLogin</p>
                }
            }
            else
            {
                <p></p>
            }

        </td>
        <td>
            @if (person.Addinf != null)
            {
                @for (int i = 0; i < person.Addinf.Count; i++)
                {
                    <p>@person.Addinf[@i].AdditionalInfo</p>
                }
            }
            else
            {
                <p></p>
            }

        </td>
        <td><a href="~/Home/Change/@person.Id">Изменить</a></td>
        <td><a href="~/Home/Delete/@person.Id">Удалить</a></td>
    </tr>
         }
    </table>
    <form action="~/Home/Index">
        <input type="submit" value="Назад" />
    </form>
</body>
</html>*@