@model IEnumerable<ProjTest.Models.ViewModel>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Результаты поиска</title>
</head>
<body>
    <h3>Поиск</h3>
    <form action="~/Home/Find">
        <input type="text" name="find" />
        <input type="submit" href="~/Home/Find" value="Поиск" />
    </form>
    <br />
    <h3>Контакты</h3>
    <table>
        <tr>
            
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Дата рождения</td>
            <td>Организация</td>
            <td>Должность</td>
            <td>Телефон</td>
            <td>Email</td>
            <td>Skype</td>
            <td>Дополнительная информация</td>
        </tr>
        @foreach (var person in Model)
        {
    <tr>
        
        <td>@person.Person.Surname</td>
        <td>@person.Person.Name</td>
        <td>@person.Person.PatrName</td>
        <td>@person.Person.BirthDay.ToString("d")</td>
        <td>@person.Person.Organization</td>
        <td>@person.Person.Position</td>
        <td>
            @if (person.Phone != null)
            {
                @for (int i = 0; i < person.Phone.Count; i++)
                {
                    <p>@person.Phone[@i].</p>
                }
            }
            else
            {
                <p></p>
            }

        </td>
        <td>
            @if (person.Email != null)
            {
                @for (int i = 0; i < person.Email.Count; i++)
                {
                    <p>@person.Email[@i]</p>
                }
            }
            else
            {
                <p></p>
            }

        </td>
        <td>
            @if (person.Skype != null)
            {
                @for (int i = 0; i < person.Skype.Count; i++)
                {
                    <p>@person.Skype[@i]</p>
                }
            }
            else
            {
                <p></p>
            }

        </td>
        <td>
            @if (person.Other != null)
            {
                @for (int i = 0; i < person.Other.Count; i++)
                {
                    <p>@person.Other[@i]</p>
                }
            }
            else
            {
                <p></p>
            }

        </td>
        <td><a href="~/Home/Change/@person.Person.Id">Изменить</a></td>
        <td><a href="~/Home/Delete/@person.Person.Id">Удалить</a></td>
    </tr>
         }
    </table>
    <form action="~/Home/Index">
        <input type="submit" value="Назад" />
    </form>
</body>
</html>