@model IEnumerable<ProjTest.Models.ViewModel>

@{
    //ViewData["Title"] = "Список";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Список контактов</title>
</head>
<body>
    <h3>Поиск</h3>
    <form action="~/Home/Find">
        <input type="text" name="find"  />
        <input type="submit" href="~/Home/Find" value="Поиск" />
    </form>
    <br />
    <h3>Контакты</h3>
    <table>
        <tr>            
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Дата рождения</td>
            <td>Организация</td>
            <td>Должность</td>
            <td>Контакты</td>            
            <td></td>
        </tr>
        
        @foreach (var person in Model)
        { 
    <tr>        
        <td>@person.Person.Surname</td>
        <td>@person.Person.Name</td>
        <td>@person.Person.PatrName</td>
        <td>@person.Person.BirthDay.ToString("d")</td>
        <td>@person.Person.Organization</td>
        <td>@person.Person.Position</td>
        <td><a href="~/Home/ViewPerson/@person.Person.Id">Контакты</a></td>
        <td><a href="~/Home/Change/@person.Person.Id">Изменить</a></td>
        <td><a href="~/Home/Delete/@person.Person.Id">Удалить</a></td>
    </tr>
        }

    </table>
    <form action="~/Home/Add">
        <input type="submit" href="~/Home/Add" value="Добавить запись" />
    </form>
</body>
</html>

